// templates/project/index.html.twig
.projects {
    a {
        color: var(--neela-text);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: var(--neela-text);
        }
    }
}
